{% extends "layout.html" %}

{% block navbar_links %}
    <div class="me-3">
        <li class="nav-item active" style="border-bottom: solid lightgrey;">
            <a class="nav-link" href="{{ url_for('home') }}"><b>Home</b></a>
        </li>
        
    </div>  
    <div>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('courts') }}"><b>Courts</b></a>
        </li>
    </div>
{% endblock navbar_links %}

{% block main %}
    
    <div>
        <div class="jumbotron">
            <div class="container">
                <h1 class="display-4">HitSpot</h1>
                <p class="lead">A simple, easy to use way of finding tennis in between you and your hitting opponent!</p>
                <hr class="my-4">
                <p>Just input you and your hitting partner(s)'s location, and we'll do the rest for you!</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}" role="button">Get started</a>
                </p>
                
            </div>
        </div>
        <div class="text-center" style="padding-top: 50px;">
            <img src="{{ url_for('static', filename='/imgs/hitspot_banner.png') }}" width="750px" height="421px">
        </div>
    </div>

{% endblock main %}
